:root {
  --font: Arial, sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;
  --container-width: 1170px;
  --container-padding: 0 20px;
  --txt: #000000;
  --bg: #ffffff;
  --link: #e7511c;
  --link-hover: #6f1e00;
  --btn: #bfa058;
  --transition: 0.3s;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

html {
  width: 100%;
  height: 100%;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  font-family: var(--font);
  color: var(--txt);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin: 0 auto;
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}

.content ul li {
  list-style: disc;
}

.content h1 {
  font-size: 40px;
}

.content h2 {
  font-size: 32px;
}

.content h3 {
  font-size: 28px;
}

.content h4 {
  font-size: 24px;
}

.content h5 {
  font-size: 20px;
}

.content h6 {
  font-size: 16px;
}

.content p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--link);
  outline: none;
}

a:hover {
  color: var(--link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.header {
  height: 100px;
  background-color: grey;
}

.footer {
  height: 200px;
  background-color: black;
}