:root{
  --font: Mont, sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;

  --container-width: 1170px;
  --container-padding: 0 20px;

  --color-text: #202020;
  --color-bg: #ffffff;
  --color-link: #1c88e7;
  --color-link-hover: #00166f;

  --transition: 0.4s;
  --spacing: 10px;

  @media (max-width: 1919.98px) {
    --spacing: 8px;
  }
  @media (max-width: 1439.98px) {
    --spacing: 6px;
  }
  @media (max-width: 1023.98px) {
    --container-padding: 0 10px;
  }
  @media (max-width: 767.98px) {
    --spacing: 5px;
  }
}