:root{
  --font: Arial, sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;

  --container-width: 1170px;
  --container-padding: 0 20px;

  --color-text: #202020;
  --color-bg: #ffffff;
  --color-link: #1c88e7;
  --color-link-hover: #00166f;

  --transition: 0.4s;
}