:root {
  --color-light: #fff;
  --color-light-10: #eee;
  --color-light-20: #f2f2f2;
  --color-dark: #000;
  --color-dark-10: #232323;
  --color-dark-20: #262626;
  --color-dark-30: #3a3a3a;
  --color-grey-10: #707070;
  --color-grey-20: #9f9f9f;
  --color-accent: #fe0;
  --color-green: #1ca53a;
  --color-red: #ff5500;
  --font-family: "Mulish", sans-serif;
  --second-family: "Rubik", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.42;
  --container-width: 1210px;
  --container-padding: 0 20px;
  --transition: 0.4s;
}
@media screen and (max-width: 743.98px) {
  :root {
    --container-padding: 0 10px;
  }
}

@font-face {
  font-family: "Mulish";
  src: url("fonts/Mulish-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("fonts/Mulish-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("fonts/Mulish-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scrollbar-gutter: stable;
}

body {
  background: var(--color-light-10);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-dark-10);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper__content {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark-20);
  font-weight: 700;
}

h1, .h1 {
  font-size: 70px;
}

h2, .h2 {
  font-size: 60px;
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 36px;
}

h5, .h5 {
  font-size: 24px;
}

h6, .h6 {
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin: 0 auto;
}

.page {
  overflow: hidden;
}

.banner {
  background: #000;
  height: 200px;
}